.round {
  border-radius: 15px;
}

.round-btn {
  border-radius: 20px;
  padding: 0px 12px;
}

.bg-ult-violet {
  background-color: #53599A;
}

.bg-air-sup-blue {
  background-color: #6D9DC5;
}

.bg-tif-blue {
  background-color: #80DED9;
}

.text-light-color {
  color: #AEECEF
}

.text-dark-color {
  color: #53599A;
}

.box {
  height: 50px;
  width: 50px;
}